
/* SLIDING PICTURES */
    .slidingpictures {
        height: 333rem;
        overflow: hidden;
    }
    #top-image {
        align-items: center;
        width: 100%/*800rem*/;
        height: auto/*422rem*/;
        transition: transform 1s ease-in-out;
    }

/* BODY */
    .body {
        height: fit-content;
        position: relative;
    }
    /* DIV - QUOTE */
    .div-img-quote-learn {
        position: relative;
        width: 50rem;
    }
    .img-quote-learn {
        position: absolute;
        top: 20rem;
        left: 200rem;
        width: 200rem;
    }
    .quote-learn {
        position: absolute;
        font-family: 'Poppins Light';
        font-size: 10rem;
        top: 10rem;
        left: 430rem;
        width: 100rem;
        color: #ffffff;
    }
    #text-experience {
        transition: color 0.3s ease;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 25px;
        border-radius: 5px;
        background-color: #181f23;
        color: #181f23;
        font-size: 20rem;
    }
    #text-experience:hover {
        color: #ea680a;
        transition: color 0.3s ease;
    }

    #features-overview {
        color: white;
        width: fit-content;
        font-size: 20rem;
        font-family: "Poppins regular";
        bottom: 380rem;
        padding-top: 100rem;
        left: 320rem;
        text-align: center;
        position: sticky;
    }
    #otherbody{
        height: fit-content;
        width: 20rem;
        background-color: #ea680a;
    }

/*FROM OVERVIEW*/
