
.tutorial-logo{
	margin-top: 70px;
	width: 35%;
  height: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#heading {
	margin-left: 35%;
	margin-top: -50px;
}
#subheading {
	margin-top: 60px;
}

* {
    font-family: "Poppins";
}

